* {
    box-sizing: border-box;
}
main {
    height: 100px;
}
html,body {
    padding: 0;
    margin: 0;
}


/* for desktop */
@media (min-width: 640px) { 
    body {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: auto 100px auto;
        grid-gap: 0;
    }
    header,
    footer {
        grid-column: 1 / span 2;
    }
   
}